*{    font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
}

#banner{
      background:linear-gradient(rgba(0,0,0,0.2), #009688), url(./image/hair\ 2.0.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      background-repeat: no-repeat;
}
.logo{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      top: 4%;
      left: 6%;
      
}

.banner-text{
      text-align: center;
      padding-top: 180px;
      color: white;
}
.banner-text h1{
      font-size: 130px;
      font-family: 'Smokum', cursive;
}
.banner-text p{
      font-size: 20px;
      font-style: italic;
}
.banner-btn{
      margin: 70px auto 0;
      text-align: center;
}
.banner-btn a{
      width: 170px;
      text-decoration: none;
      display: inline-block;
      margin: 0 10px;
      padding: 12px 0;
      color: white;
      border: 0.5px solid white;
      position: relative;
      z-index: 1;
      transition: color 0.5s;
}

.banner-btn a span{
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      z-index: -1;
      transition:0.5s ;
}

.banner-btn a:hover span{
      width: 100%;
}

.banner-btn a:hover{
      color: black;
}

#sideNav{
      width: 250px;
      height: 100vh;
      position: fixed;
      right:-250px;
      top: 0;
      z-index: 2;
      background: #009688;
      transition: 0.5s;
}

nav ul li{
      margin: 50px 20px;
      list-style: none;
}

nav ul li a{
      text-decoration: none;
      color: white;
}
#manuBtn{
      width: 50px;
      height: 50px;
      background: #009688;
      text-align: center;
      position: fixed;
      right: 30px;
      top: 20px;
      border-radius: 3px;
      z-index: 3;
      cursor: pointer;

}
#manuBtn img{
      width: 20px;
      margin-top: 15px;

}

